extends layout

include mixins/_commentForm
include mixins/_comment

block content
    .single_card
        != helpers.icon('figment-logo-brand')
        .title_container
            h1= idea.title
        p= idea.body
        
        ul 
            each tag in idea.tags
                li= tag

        .buttons_container
            if idea.author._id.equals(user._id)
                a(href=`/idea/${idea._id}/edit`).btn.btn_edit Edit
                a(href=`/idea/${idea._id}/delete/`).btn.btn_remove Delete
    

    +commentForm(idea)

    //- make a mixin for a review
    if idea.comments 
        each comment in idea.comments
            +comment(comment)