extends layout

block content
    pre= helpers.dump(idea)
    h1= idea.title
    h2= idea.author.name
    p= idea.body
    
    ul 
        each tag in idea.tags
            li= tag

    if user && idea.author._id.equals(user._id)
        a(href=`/idea/${idea._id}/edit`) Edit
        a(href=`/idea/${idea._id}/delete/`) Delete
