doctype html 
html
    head
        title= title
        link(rel="stylesheet", href="/dist/style.bundle.css")
        link(href='https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:300,300i,700', rel='stylesheet')

    body(class=authContainer ? 'auth_container' : null || addIdeaContainer ? 'add_idea_container' : null)
        if user
            .search
                img(src="/images/icons/cross.svg", alt="exit").exit_icon
                != helpers.icon('figment-logo-brand')
                input(type="text" name="search" placeholder="Start typing to search..")
                .tag_options
                    each tag in tagOptions
                        .search_tag 
                            input(type="radio" name="filter" id=tag value=tag) 
                            label(for=tag) #{tag}
                .search_results

            .lower_nav
                a(href="/readinglist")
                    .reading_list
                        p.reading_list_counter= user.readingList.length
                        img(src="/images/icons/readinglist.svg", alt="Reading list").readinglist_icon


        .wrapper
            if user     
                .nav
                    .nav_up
                        a(href="/").logo_container
                            img(src="/images/figment-logov3.svg", alt="Figment")
                        .functions
                            img(src="/images/icons/search.svg", alt="Search").search_icon
                            a(href=`/users/${user._id}`).account
                                .avatar.nav_avatar(style=`background-image: url("/uploads/${user.photo}")`)
                    .nav_low
                        .nav_container
                            a(href="/") Home
                            a(href="/popular") Most popular
                            a(href="/readinglist") Reading list
                            a(href="/explore") Explore
                            a(href="/ideas/add") Add Idea
                
            .messages 
                if locals.messages
                    - const categories = Object.keys(messages)
                    each category in categories 
                        each type in Object.keys(messages)
                            each message in messages[type]
                                .flash(class=`flash_${category}`) 
                                    p= message
                                    button(onClick="this.parentElement.remove()") &times;
            block content

            block scripts
                script(src="/dist/app.bundle.js")