extends layout

block content
    .admin_dashboard_user_container
        .card
            .single_card
                .avatar(style=`background-image: url('/uploads/${user.photo}')`)
                .info
                    h1= user.name
                    if user.level >= 10 
                        p #{user.email} / admin
                    else
                        p #{user.email} / user

                    a(href=`/admin/${user._id}/edit`).btn.btn_edit Edit
                    a(href=`/admin/${user._id}/delete`).btn.btn_remove Delete
