mixin ideaCard(idea, isReadingList, admin)
    .idea_card.card(class=`idea_${idea._id}`)
        .image(style=`background-image: linear-gradient(rgba(40, 40, 41, 0.85), rgba(40, 40, 41, 0.85)), url('/uploads/${idea.photo}')`)
            .user_info            
                .avatar(style=`background-image: url('/uploads/${idea.author.photo}')`)
                .user_info_text_container
                    a(href=`/users/${idea.author.id}`)
                        h2= idea.author.name
                    p.subtitle= idea.author.about
        .text_container
            a(href=`/ideas/${idea._id}`)
                h1= idea.title
            p= idea.body.split(' ').slice(0, 150).join(' ')
                if !admin
                    a(href=`ideas/${idea._id}`).continue_reading continue reading..
        //- show toggle button for active / inactive ideas in admin dashboard
        if admin
            form(action=`/api/admin/ideas/${idea._id}/visibility` method="POST").visibility_form
                if idea.visible
                    button(type="submit" name="visible").toggle_visibility.toggle_visibility_active
                        p active
                else
                    button(type="submit" name="visible").toggle_visibility.toggle_visibility_inactive
                        p inactive
        .icon_container
            if !admin
                form(
                    action=`/api/ideas/${idea._id}/hearts` 
                    class="heartlist_form" 
                    method="POST"
                ).heart_form
                    - const heartStrings = idea.hearts.map(obj => obj.toString());
                    - const heartClass = heartStrings.includes(user._id.toString()) ? 'heart_active' : '';
                    button(type="submit" name="heart" class=`heart_idea ${heartClass}`).heart_idea
                        != helpers.icon('favorite')
                    a(href=`/idea/${idea._id}/hearts`)
                        p #{idea.hearts.length}
                form(
                    action=`/api/ideas/${idea._id}/readinglist` 
                    class="readinglist_form" 
                    method="POST"
                    data-card-id=idea._id
                    data-reading-list= `${isReadingList}`
                )
                    - const readingListStrings = user.readingList.map(obj => obj.toString());
                    - const readingListClass = readingListStrings.includes(idea._id.toString()) ? 'remove_icon' : 'active_icon';
                    button(type="submit" name="addToReadingList")
                        .add_to_reading_list(class=readingListClass)