mixin ideaCard(idea)
    .card
        .idea_card
            .image(style=`background-image: linear-gradient(rgba(40, 40, 41, 0.85), rgba(40, 40, 41, 0.85)), url('uploads/${idea.photo}')`)
                .user_info            
                    .avatar(style=`background-image: url('/uploads/${idea.author.photo}')`)
                    .user_info_text_container
                        h2= idea.author.name
                        p.subtitle= idea.author.about
            .text_container
                a(href=`/ideas/${idea._id}`)
                    h1= idea.title
                p= idea.body
            .icon_container
                form(action=`/api/ideas/${idea._id}/readinglist` class="readinglist_form" method="POST")
                    button(type="submit" name="addToReadingList")
                        .add_to_reading_list.add_to_reading_list_active